*{
    font-family: 'Electrolize', sans-serif;
}

:root{
    --main-color: #2263d4;
}

.text-main {
    color: var(--main-color);
    font-weight: 600;
}

.text-second {
    color: black;
}

.title{
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800;
}

.bg.text-main {
    background-color: var(--main-color);
}

body{
    background-color: rgb(242, 248, 255);
}

.btn-custom{
    font-family: 'Electrolize', sans-serif;
    color: whitesmoke;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    background-color: var(--main-color);
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: 0.5s;
}

.btn-custom:hover{
    border: none;
    background-color: var(--main-color);
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #525252;
    transition: 0.2s;
}


.btn-custom:active{
    border: none;
    background-color: var(--main-color);
    box-shadow: inset 2px 2px 5px #babecc;
    transition: 0.2s;
}


.card-custom{
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.5s;
}

.card-custom:hover{
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    transition: 0.5s;
}

.card-custom:active{
    box-shadow: inset 1px 1px 2px #babecc;
    transition: 0.2s;
}

.scrollable{
    height: 400px;
    overflow-y: scroll;
}

.modal-custom{
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.modal-custom-content{
    background-color: rgb(245, 245, 245);
    margin:auto;
    width: 70%;
    padding: 30px;
    
}


.modal-custom:active{
    z-index: 10;
    opacity: 1;
}

::-webkit-scrollbar{
    width:0.8em;
    height:0.8em;
    background: #eaeaea;
    margin-right: 10px;
}
::-webkit-scrollbar:hover{
    background-color: #eaeaea ;
    border: none;
}
::-webkit-resizer{
    -webkit-border-radius: 4px;
    background-color:#ccc;
    border: none;
}
::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    -webkit-border-radius: 4px;
    background-color: var(--main-color);
    border: none;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--main-color);
    border: none;
}
::-webkit-scrollbar-thumb:active{
    background-color:   var(--main-color);
    border: none;
}

